<div id="index">
  <section id="posts">
    <h3>Posts</h3>
    <ul>
      <% page.posts.each(function(post){ %>
        <li>
          <a href="<%- url_for(post.path) %>"><h4><%= post.title %></h4></a>
          <small>(<%= date(post.date, config.date_format) %>)</small>
        </li>
      <% }) %>
    </ul>
  </section>
  <% if (theme.projects) { %>
    <section id="projects">
      <h3>Projects</h3>
      <ul>
        <% for(var i in theme.projects) { %>
          <li>
            <a target="_blank" href="<%- url_for(theme.projects[i].url) %>"><h4><%- i %></h4></a>
            <p>(<%= theme.projects[i].description %>)</p>
          </li>
        <% } %>
      </ul>
    </section>
  <% } %>
</div>