<!DOCTYPE html>
<html lang="<%= config.language %>">
  <%- partial('_partial/head', {}, {cache:true}) %>
  <body>
    <div class="content">
      <% if (!is_post() && page.title !== 'Talks' && page.title !== 'Author') { %>
        <%- partial('_partial/header', {}, {cache:true}) %>
      <% } %>
      <%- body %>
      <%- partial('_partial/footer', {}, {cache:true}) %>
    </div>
    <%- css('css/style') %>
  </body>
</html>